<div class="container-fulid">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-3">
                    <img src="../../../assets/img/logo.jpg">
                    <div class="row">
                    <input type="text" placeholder="From Date" class="input">
                    <input type="text" placeholder="From Date" class="input">
                    </div>
                    <mat-slider class="mt-3 slider"></mat-slider>
                </div>
                <div class="col-md-3 ml-5">
                    <h5 class="head">CTR Application Monitoring</h5>
                    <h5 class="head1">Select Application</h5>
                    <select class="select">
                        <option value="volvo">CTR1</option>
                        <option value="saab">CTR2</option>
                        <option value="mercedes">CTR3</option>
                        <option value="audi">CTR4</option>
                      </select>
                </div>
            </div>
        </div>
        <div class="col-md-6 ">
            <div class="row">
                <div class=" colo-md-3 div margin">
                    <h4>System Avalibility</h4>
                    <h4 class="h4">94.06%</h4>
                </div>
                <div class=" colo-md-3 div margin1">
                    <h4>System Avalibility</h4>
                    <h4 class="h4">94.06%</h4>
                </div>
            </div>
        </div>
    </div>
</div>
