<div class="container-fulid">
    <div class="row">
        <div class="col-md-5">
          <mat-card class="matcard">
            <h3 class="ml-2">SLA Agreement</h3>
            <table class="table">
              <tr>
                <th>SLA Specs</th>
                <th>SLA Agreement</th>
                <th>Monthly Average</th>
              </tr>
              <tr>
                <td>CTR Delivery</td>
                <td>6.00AM</td>
                <td>75%</td>
              </tr>
              <tr>
                <td>CTR Filing</td>
                <td>4.00PM</td>
                <td>100%</td>
              </tr>
              <tr>
                <td>DART Response Time</td>
                <td>30sec</td>
                <td>95%</td>
              </tr>
              <tr>
                <td>Operation Hours</td>
                <td>7AM to 10PM</td>
                <td>60%</td>
              </tr>
              <tr>
                <td>UI Response Time</td>
                <td>5sec</td>
                <td>90%</td>
              </tr>
            </table>
         </mat-card>
        </div>
        <div class="col-md-3">
          <mat-card class="matcard">
            <h3 class="ml-2">System Helath</h3>
            <table class="table table1">
              <tr>
                <th>Cetagory</th>
                <th>Counts</th>
                <th>Resolution Time</th>
              </tr>
              <tr>
                <td>P3</td>
                <td>2</td>
                <td>64</td>
              </tr>
              <tr>
                <td>P1</td>
                <td>2</td>
                <td>50</td>
              </tr>
              <tr>
                <td>P2</td>
                <td>1</td>
                <td>35</td>
              </tr>
              
            </table>
            </mat-card>
       </div>
       
       <div class="col-md-4">
           <h2>System Health Indicator</h2>
           
             <div class="co-md-12">
             <div class="row">
              <div class="col-md-5 mr-3">
    <img src="../../../assets/img/spero1-removebg-preview.png">
   </div>
       <div class="col-md-5 ml-5 mt-4">
        <a>Factors Consider to Calculate the System Health</a><br><br>
        <p>1.Date BAse CPU Usage</p><br>
        <p>2.Date Base Memory Avalibility</p><br>
        <p>3.App Server CPU Usage</p><br>
        <p>4.App Server Memory Usage</p>
       </div>
</div>
             </div>
               
              
           </div>
       
    
    </div>
</div>
