<div class="container-fulid">
    <div class="row">
        <div class="col-md-8 mt-3">
            <div class="border">

                <h3 class="ml-2">Detailed Report</h3>
               <table class="table">
                 <tr>
                   <th>Date</th>
                   <th>Cetagory</th>
                   <th>Status</th>
                   <th>Reason</th>
                 </tr>
                 <tr>
                   <td>thursday,january 02,2020</td>
                   <td>App Server Memory Usage</td>
                   <td>Issue</td>
                   <td>Application Server memory Issue</td>
                 </tr>
                 <tr>
                  <td>thursday,january 02,2020</td>
                  <td>App Server Memory Usage</td>
                  <td>Issue</td>
                  <td>Application Server memory Issue</td>
                </tr>
                <tr>
                  <td>thursday,january 02,2020</td>
                  <td>App Server Memory Usage</td>
                  <td>Issue</td>
                  <td>Application Server memory Issue</td>
                </tr>
                <tr>
                  <td>thursday,january 02,2020</td>
                  <td>App Server Memory Usage</td>
                  <td>Issue</td>
                  <td>Application Server memory Issue</td>
                </tr>
                <tr>
                  <td>thursday,january 02,2020</td>
                  <td>App Server CPU Usage</td>
                  <td>Issue</td>
                  <td>Application Database Down</td>
                </tr>
                <tr>
                  <td>thursday,january 02,2020</td>
                  <td>App Server CPU Usage</td>
                  <td>Issue</td>
                  <td>Application Server Database Down</td>
                </tr>
                <tr>
                  <td>thursday,january 02,2020</td>
                  <td>App Server Memory Usage</td>
                  <td>Issue</td>
                  <td>Application Server memory Issue</td>
                </tr>
               </table>     
                </div>
        </div>
        <div class="col-md-4 margin2">
          <div class="border">

            <h3 class="ml-2">System Helath</h3>
            <table class="table">
              <tr>
                <th></th>
                <th></th>
                <th></th>
              </tr>
              <tr>
                <td>App Server Memory Usage</td>
                <td>Below 60%</td>
                <td>78.00%</td>
              </tr>
              <tr>
                <td>Application Server CPU Usage</td>
                <td>Below 60%</td>
                <td>70.00%</td>
              </tr>
              <tr>
                <td>Database Memory Avaliaibility</td>
                <td>35% Should be Avalible</td>
                <td>110.00%</td>
              </tr>
              <tr>
                <td>DB CPU Usage</td>
                <td>Below 60%</td>
                <td>60.00%</td>
              </tr>
            </table>
          </div>
        </div>
    </div>
</div>
